@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e95a08;
  --heading-color: #000;
  --secondary-heading-color: #fff;
  --cart-heading-color: #111;
  --paragraph-color: hsla(0, 0%, 0%, 0.5);
}

body {
  font-family: "Noto Serif", serif;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.mini_wrapper {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.primary_btn {
  text-decoration: none;
  display: inline-block;
  color: var(--secondary-heading-color);
  background-color: var(--primary-color);
  font-size: 1.6rem;
  padding-block: 1.9rem;
  font-weight: 600;
  text-align: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: medium;
}

ul li {
  font-size: 2.2rem;
  color: var(--paragraph-color);
}

span {
  color: var(--primary-color);
}

p {
  font-size: 2.2rem;
  color: var(--paragraph-color);
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: var(--paragraph-color);
}

/* Header styles  */

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 4.8rem;
  justify-content: flex-end;
}

.nav-bold {
  font-weight: bold;
  color: var(--cart-heading-color);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 4.8rem;
}

.cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart p {
  color: var(--cart-heading-color);
  font-size: 2rem;
}

/* Hero styles  */

.hero {
  margin-top: 12rem;
  padding-top: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero > * {
  flex-basis: 100%;
}

/* plants styles  */

.plants {
  margin-block: 12rem 20rem;
}

.plants_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.single_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.single_card a {
  width: 100%;
}

/* Flower styles  */

.flower {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6rem;
}

.flower > * {
  flex-basis: 100%;
}

.flower_img {
  position: relative;
}

.flower_img::after {
  content: "";
  position: absolute;
  background-image: url(./assets/trusted-badge.png);
  background-position: center;
  background-size: cover;
  top: -18%;
  right: -17%;
  width: 28rem;
  height: 28rem;
}

.flower_list ul {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-left: 4rem;
}

.flower ul li {
  list-style-type: disc;
}

/* delas styles  */

.deals {
  margin-block: 12rem;
}

.deals_box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5rem;
}

.bloom,
.ana,
.zabo {
  background-color: #00000068;
  background-size: cover;
  background-position: center;
  padding-block: 6.5rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-blend-mode: multiply;
}

.bloom {
  background-image: url(./assets/deal-bloom.png);
}

.ana {
  background-image: url(./assets/deal-ana.png);
}

.zabo {
  background-image: url(./assets/deal-zabo.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: 2/3;
  grid-row: 1/3;
}

.zabo h4 {
  font-size: 4rem;
}

.zabo a {
  font-size: 2.6rem;
}

.deals_box a {
  text-decoration: underline;
  color: white;
  font-weight: 500;
}

/* subscribe styles  */

.subscribe {
  background-image: url(./assets/news-letter-bg.png);
  background-color: #00000065;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 19rem;
  color: var(--secondary-heading-color);
  text-align: center;
}

.subscribe_box {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.subscribe_box input {
  font-family: "Noto serif";
  font-size: 1.6rem;
  padding: 1.8rem;
  background-color: var(--secondary-heading-color);
  color: var(--paragraph-color);
  width: 60%;
}

.subscribe_box a {
  background: var(--primary-color);
  color: var(--secondary-heading-color);
  padding: 1.8rem 5rem;
  font-size: 1.6rem;
}

/* footer styles  */

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block: 5rem;
}

.footer_logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1.6rem;
  flex-basis: 40%;
}

.footer_links_left,
.footer_links_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.6rem;
  flex-basis: 20%;
}

.social_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2.4rem;
  flex-basis: 20%;
}

@media (width < 628px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    line-height: 1.4;
  }

  /* header styles  */

  #header {
    margin-inline: 2.2rem;
  }

  .logo img {
    width: 65%;
  }
  nav {
    display: none;
  }

  /* hero styles  */

  .hero {
    margin-top: 2.8rem;
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2.8rem;
  }

  .hero_text {
    padding-inline: 2rem;
  }

  /* Plants styles  */

  .plants {
    padding-inline: 2rem;
    margin-block: 6rem 5rem;
  }
  .plants_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* flower styles  */

  .flower {
    padding-inline: 2rem;
    flex-direction: column;
    row-gap: 2rem;
  }

  .flower_img::after {
    display: none;
  }

  /* delas styles  */

  .deals {
    padding-inline: 2rem;
    margin-block: 4rem;
  }

  .deals_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .zabo {
    gap: 1rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .zabo h4 {
    font-size: 2.2rem;
  }

  .zabo a {
    font-size: 2.2rem;
  }

  /* subscribe styles  */

  .subscribe {
    padding-inline: 2rem;
  }
  .subscribe h2 {
    font-size: 3rem;
  }

  /* footer styles  */

  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-inline: 2rem;
    margin-block: 3rem;
  }
}
